body { 
	background-color: #1B1B1B;
	color: white;
	font-size: 25px;
	line-height: 1.5;
	font-family: sans-serif; 
}

div { 
	padding-left: 75px;
}

#title { 
	padding-top: 50px;
	font-size: 30px;
	text-align: center;
	color: #888888;
}

p { 
	color: #888888;
}

.lgt { 
	color: #F22D60;
	border: 0px;
}

#vision { 
	padding-left: 300px;
}

.mkBlue { 
	color: #66DDF2;	
}

#hideaway { 
	font-size: 50px;
	padding-left: 300px;
}

a { 
	text-decoration: none;
	color: white;
}

a:hover { 
	text-decoration: underline;
	color: #F22D60;
}