
/* -- TOP NAVIGATION BAR -- */
#navbar { 
	/*list-style: none;*/
	background-color: black;
	margin-top: -8px;
	margin-left: -8px;
	margin-right:-8px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.dropdown { 
	position: relative;
	display: inline-block;
}

.dropdown-content { 
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	padding: 12px 16px;
	/*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.dropdown:hover li { 
	display: block;
	/*opacity: 1;*/
}
/*.dropdown-content*/



/*.navbar li { 
	display: inline-block;
	position: relative;
	padding-left: 15px;
	padding-right: 15px;

}*/

a { 
	text-decoration: none;
	color: white;
	font-size: 20px;
	opacity: 0.7;
}

/*.navbar a:hover { 
	opacity: 1;
}*/



/*BLANK*/
#blank { 
	height: 100px;
	background-color: white;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 0px;
}


/* -- BOTTOM NAVIGATION BAR -- */

.btnavbar { 
	background-color: black;
	margin-top: 0px;
	margin-left: -8px;
	margin-right: -8px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

.btnavbar ul {
	list-style: none;
	opacity: 0.6;
}

.btnavbar .impt { 
	display: inline-block;
	vertical-align: top;
	padding-right: 15px;
	padding-left: 15px;
}

.btnavbar a { 
	text-decoration: none;
	color: white;
	opacity: 0.7;
}

.btnavbar a:hover { 
	opacity: 1;
}

#contact { 
	text-align: right;
	float: right;
	opacity: 0.7;
}

#contact p { 
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-right: 15px;
}






