.banner { 
	background-image: url("https://cmayeda.github.io/images/greenBanner.jpg");
	/*background-image: url("http://cmayeda.github.io/images/nameBanner2.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}