/* Style sheet for Cassidy Mayeda's personal website. Updated: October, 2020 */

.container { 
	display: block;
	clear: both;
	position: relative;
}
.col { 
	display: inline-block;
	width: 30%; /* will need to change this when making responsive for mobile */
	padding-top: 30px;
	margin-left: 7%;
	margin-right: 7%;
	vertical-align: text-top; 
}
.row { 
	/*margin-top: -50px*/
	border: 3px solid black;
}

/* -- ABOUT ME -- */
#aboutMe { 
	margin-top: 0px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 60px;

	background: #dbdbdb;
	background: -moz-linear-gradient(top,  #dbdbdb 0%, #ffffff 24%, #ffffff 44%);
	background: -webkit-linear-gradient(top,  #dbdbdb 0%,#ffffff 24%,#ffffff 44%);
	background: linear-gradient(to bottom,  #dbdbdb 0%,#ffffff 24%,#ffffff 44%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff',GradientType=0 );
}
#aboutMe img { 
	height: 300px;
	width: auto;
	border-radius: 50%;
}
#aboutText { 

}

/* -- PROFESSIONAL EXPERIENCE -- */
#profHist { 

}
/* formatting company logos */
#profHist img { 
	display: inline-block;	
	position: relative;
	height: auto;
	vertical-align: top;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0;
	padding-top: 0px;
	padding-bottom: 0px;
}
#pfTitle { 
	width: 33%;
}
#gwc { 
	width: 300px;
}
#mgoosh { 
	width: 175px;
	padding-top: 70px;
	margin-right: 30px;
}
#spoon { 
	width: 200px;
	margin-left: 20px;
}















