/**Styling sheet for Cassidy Mayeda's personal website. Version 2*/

.container { 
	display: block;
	clear: both;
	position: relative;
}

/* -- NAME -- */
.name { 
	background-image: url("http://cmayeda.github.io/images/nameBanner2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
}

.name h1 {
	font-size: 110px;
	margin-top: 0px;
	padding-left: 30px;
	padding-top: 30px;
	display: inline-block;
}

.name img { 
	height: 100px;
	width: auto;
	display: inline-block;
	padding-left: 30px;
	padding-top: 50px;
	position: absolute;
}




/* -- ABOUT ME -- */

#aboutMe { 
	margin-top: 0px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 60px;

	background: #dbdbdb;
	background: -moz-linear-gradient(top,  #dbdbdb 0%, #ffffff 24%, #ffffff 44%);
	background: -webkit-linear-gradient(top,  #dbdbdb 0%,#ffffff 24%,#ffffff 44%);
	background: linear-gradient(to bottom,  #dbdbdb 0%,#ffffff 24%,#ffffff 44%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#ffffff',GradientType=0 );

}

#aboutMe img { 
	height: 300px;
	width: auto;
	border-radius: 50%;
	border: 20px solid black;
	margin-left: 10%;
	margin-right: 10px;
}

.col { 
	display: inline-block;
	width: 300px;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
	vertical-align: text-top; 
}

#aboutText { 
	margin-left: 13%;
}

#aboutText img { 
	/*font-size: 60px;*/
	margin-top: 0px;
	margin-bottom: 20px;
	border: none;
	border-radius: 0;
	width: auto;
	height: 60px;
	margin-left: 0px;
}

#aboutText h2 { 
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 35px;
}

#aboutText h3 { 
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 5px;
	opacity: 0.7;

}














