
body { 
	background-color: black;
} 

#title { 
	color: white;
	font-family: futura;
	text-align: center;
	margin-right: 15px;
}

#grid { 
	width: 500px;
	margin: auto;
	position: relative;
	display: block;
}

.box { 
	margin: 10px;
	background-color: 222222;
	width: 100px;
	height: 100px;
	display: inline-block;
	border-radius: 6px;
}

.red { 
	background-color: #FF0003;
}

.blue { 
	background-color: #001FFF;
}

.yellow { 
	background-color: #FFEF00;
}

.purple { 
	background-color: #6E1688;
}

.green { 
	background-color: #308F2B;
}

.orange { 
	background-color: #FF6100;
}

.brown { 
	background-color: #73401F;
}

.black { 
	background-color: black;
	border: 5px, white;
}

.white { 
	background-color: white;
}





