body { 
	background-color: #00C1C6;
	font-family: helvetica;
	text-align: center;
	color: white;
}

h1 { 
	padding-top: 200px;
}

.myButton { 
	border: 3px white solid;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	width: 20%;
	border-radius: 10px;
}

.myButton a { 
	color: white;
	text-decoration: none;
}

a:hover { 
	text-decoration: underline;
}